credentials.json
__pycache__/
*.pyc
venv/
.env
credentials.json
golden-tide-459204-n6-fce40c90ad2e.json"how 4fc7dcf784d0bf8fe0d5ef85f1be12d43fff90d2" 
credentials.json 
golden-tide-459204-n6-fce40c90ad2e.json 
